a{
  color: #11999E;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
}

body {
  font-family: "Cardo", serif;
  text-align: center;
  margin: 0;
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 130px;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
}

.btn{
  border-radius: 5px;
  background-color: #11999E;
  background-image: linear-gradient(#11ccd4, #11999E);
  color: white;
  padding: 8px 20px;
  position: relative;
  top: 50px;
}

.btn:hover{
  background-image: linear-gradient(#30e3cb, #2bc4ad);
}

.contact-me{
  width: 50%;
  margin: auto;
}

.footer-link:hover{
  color: #eaf6f6;
}

h1 {
  margin: 30px auto 20px auto;
  font-family: "Tangerine", cursive;
  font-size: 6.25rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #66BFBF;
  margin: 20px auto;
}

h3 {
  font-family: "Rubik", sans-serif;
  color: #11999E;
}

.h3-get-in-touch{
  margin-bottom: 2.8rem;
}

hr{
  border: none;
  border-top: dotted #dde7e7 6px;
  margin: 70px auto;
  width: 4%;
}

.into{

  margin: auto;
  width: 70%;
}

p{
  color: #40514E;
  font-weight: bold;
  line-height: 2;
}

.p-copyright{
  font-size: small;
  color: #EAF6F6;
  padding-top: 20px;
}

.profile{
  width: 50%;
  margin: 50px auto;
}


.skill-image-profile{
  width: 25%;
}

.skill-image-computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image-pepper{
  width: 25%;
  float: right;
  margin-right: 30px;
}

.skill-row{
  text-align: left;
  margin: 100px auto auto;
  width: 50%;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 30px;
}

.top-cloud {
  position: relative;
  left: 15%;
}